name: Build APK

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    # Cache Buildozer global directory
    - name: Get Date
      id: get-date
      run: echo "::set-output name=date::$(/bin/date -u "+%Y%m%d")"
      shell: bash

    - name: Cache Buildozer global directory
      uses: actions/cache@v4
      with:
        path: ~/.buildozer_global
        key: buildozer-global-${{ hashFiles('buildozer.spec') }}
        restore-keys: |
          buildozer-global-

    - name: Cache Buildozer
      uses: actions/cache@v4
      with:
        path: .buildozer
        key: ${{ runner.os }}-${{ steps.get-date.outputs.date }}-${{ hashFiles('buildozer.spec') }}
        restore-keys: |
          ${{ runner.os }}-

    # Install dependencies
    - name: Install dependencies
      run: |
        sudo apt update
        sudo apt install -y git zip unzip openjdk-17-jdk python3-pip autoconf libtool pkg-config zlib1g-dev libncurses5-dev libncursesw5-dev libtinfo5 cmake libffi-dev libssl-dev

    - name: Build with Buildozer
      uses: ArtemSBulgakov/buildozer-action@v1
      id: build
      with:
        command: buildozer android debug
        buildozer_version: master

    - name: Upload APK
      uses: actions/upload-artifact@v4
      with:
        name: GeoFence-Tracker.apk
        path: ${{ steps.build.outputs.apk }}